.left-container button {
    padding: 20px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: rgb(229, 212, 139);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 10px;
}

.button-container-2 {
    position: absolute;
    top: calc(50% - 120px);
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 10px;
}
  
<<<<<<< HEAD
  
  
=======
.right-container button {
    background-color: #8db2e5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.right-container button:hover {
    background-color: #449dff;
}

.udbutton-container {
    position: absolute;
    top: 10%;
    right: 20%;
    transform: translateY();
    z-index: 1;
    padding: 10px;
}
>>>>>>> fork/master
